ui-select(
  ng-model="selectedPalette"
  style="width: 300px;"
)
  ui-select-match(placeholder="Select a palette...")
    palette(colors='selectedPalette' size='20')
  ui-select-choices(repeat='palette in palettes' refresh="refreshPalettes($select.search)")
    palette(colors='palette' size='20')
